
.form-div{
    padding: 30px 40px;
    background: #F5F5F5;
    height: 90vh;

    .form-input{
        border: 1px solid black;
        padding: 20px 0;
        position: relative;
        background: #FFFFFF;
        box-shadow: 1px 1px 4px 4px rgb(190, 187, 187);

        Label{
            margin:30px 10px 10px 0;
        }
        .Phone-Input{
            margin-top:15px;
        }
        .button-column{
            padding-left: 6%;
            margin-top: 30px;
            label{
                margin: 10px 5px 20px 40px;
            }

            
        }
        .input-column{
            padding-left: 4%;
            margin-top: 3px;
        }
        .button-row{
            margin-top: 10%;
        }
        .bttn{
            position: absolute;
            right: 3%;
            bottom: 2%;
            padding: 5px 19px;
        }
    }
}

.field{
    position: relative;
}
.field input[type='radio'] {
  display: none;
}

.field label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #8870C9;
  background-color: transparent;
}

.field label {
  position: relative;
}

.field label input[type='radio']:checked+span {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  background-color: #8870C9;
}

.error{
    position: absolute;
    top: -67%;
    right: 25%;
    font-size: 14px;
}